@model TrustCare.Models.Homepage

@{
    ViewData["Title"] = "Create";
    Layout = "_AdminLayout";

}


<h4>Homepage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ImageLogo" class="control-label"></label>
                <input asp-for="ImageLogo" class="form-control" />
                <span asp-validation-for="ImageLogo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SectionName" class="control-label"></label>
                <input asp-for="SectionName" class="form-control" />
                <span asp-validation-for="SectionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContentText" class="control-label"></label>
                <input asp-for="ContentText" class="form-control" />
                <span asp-validation-for="ContentText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeadingOne" class="control-label"></label>
                <input asp-for="HeadingOne" class="form-control" />
                <span asp-validation-for="HeadingOne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeadingThree" class="control-label"></label>
                <input asp-for="HeadingThree" class="form-control" />
                <span asp-validation-for="HeadingThree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

