@model TrustCare.Models.Subscription

@{
    ViewData["Title"] = "Create";
    Layout = "_UserLayout";
}

<h1>Create</h1>

<h4>Subscription</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="SubscriptionId" value=@ViewBag.SubscriptionId />

            </div>
            <div class="form-group">
                <label>Date:@ViewBag.CurrentTime </label>
     
            </div>
            <div class="form-group">
                <label asp-for="SubscriptionAmount" class="control-label"></label>
                <input asp-for="SubscriptionAmount" class="form-control" />
                <span asp-validation-for="SubscriptionAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentStatus" class="control-label"></label>
                <input asp-for="PaymentStatus" class="form-control" />
                <span asp-validation-for="PaymentStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentMethod" class="control-label"></label>
                <input asp-for="PaymentMethod" class="form-control" />
                <span asp-validation-for="PaymentMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <a class="btn btn-primary" href="/Subscriptions/PaymentWithPaypal">Pay Now</a>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

